h1,
h2,
h3,
h5 {
  font-family: "Cinzel", serif;
}

h1,
h2 {
  margin: 0 auto;
  padding: 20px;
  display: block;
}

h3,
h4 {
  color: rgb(37, 52, 46);
  padding: 10px;
  margin: 10px;
  font-size: 20px;
  top: 0;
}

h5 {
  font-size: 18px;
  margin: 0 auto;
  padding: 10px;
  text-align: center;
  margin-top: 20px;

}
body{
  background: radial-gradient(circle at 18.7% 37.8%, rgb(250, 250, 250) 0%, rgb(225, 234, 238) 90%);;
}
.btn-primary{
  background: rgb(104, 111, 130);
}

.btn-success {
 background: rgb(104, 111, 130);
  right:85px;
  top:80;
  line-height: 15px;
  display: block;
  margin: 0 auto;
 
 
}



form {
  size: 1px;
}

.col-6 {
  color: rgb(10, 51, 59);
  padding: 20px;
  font-size: 20px;
  margin: 3px;
  top: 0;
  font-weight: 200;
  font-style: bold;
  font-family: "Cinzel", serif;
  }

.weather-app {
  max-width: 600px;
  margin: 30px auto;
  padding: 20px;
  border: 1px solid #dadde1;
  border-radius: 15px;
  background:linear-gradient(179.7deg, rgb(248, 126, 126) -0.5%, rgb(251, 206, 143) 35.3%, rgb(184, 252, 233) 67.2%, rgb(118, 162, 229) 92.3%);
  list-style: none;
  margin: 0;
  padding: 0;
  
  font-weight: 100;
  line-height: 19px;
}

li:first-letter {
  text-transform: capitalize;

}

.weather-temperature img {
  margin-right: 5px;
  height: 100px;
  width: 100px;
}
.weather-temperature strong {
  color: rgb(33, 33, 33);
  font-size:70px;
  line-height: 1;
  font-weight: 400;
}

.weather-temperature .units {
  position: relative;
  font-size: 16px;
  top: -34px;
}



.weather-temperature .active {
  color: rgb(33, 33, 33);
  cursor: default;
}

.weather-temperature .active:hover {
  text-decoration: none;
}
.weather-forecast {
  margin-top: 20px;
  text-align: center;
  color: #000;
}

.weather-forecast-date {
  font-size: 16px;
  opacity: 0.5;
}

.weather-forecast-temperature-min {
  opacity: 0.5;
}

.weather-forecast-temperatures {
  font-size: 13px;
}