h1,
h2,
h3,
h5 {
  font-family: "Cinzel", serif;
}

h1,
h2 {
  margin: 0 auto;
  padding: 20px;
  display: block;
}

h3,
h4 {
  color: blue;
  padding: 10px;
  margin: 10px;
  font-size: 16px;
  top: 0;
}

h5 {
  font-size: 18px;
  margin: 0 auto;
  padding: 10px;
}

.btn-success {
  position: fixed;
  right:885px;
  top:80;
 line-height: 20px;
}

form {
  size: 10px;
}

.col-6 {
  color: rgb(44, 212, 184);
  padding: 20px;
  font-size: 16px;
  margin: 3px;
  top: 0;
}
.weather-app {
  max-width: 600px;
  margin: 30px auto;
  padding: 20px;
  border: 1px solid #dadde1;
  border-radius: 5px;
}